Source: #PACKAGE#
Section: unknown
Priority: extra
Maintainer: #USERNAME# <#EMAIL#>
Standards-Version: 2.1.1.0

Package: #PACKAGE#
Architecture: #ARCHIT#
Depends: ${shlibs:Depends}
Description: Converted Slackware tgz package
 Not available
