Source: apt-src
Section: admin
Priority: optional
Build-Depends-Indep: debhelper (>= 4), dpkg-dev (>= 1.9.0)
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.5.6.1

Package: apt-src
Architecture: all
Section: admin
Depends: libapt-pkg-perl, dpkg-dev, apt, ${misc:Depends}, ${perl:Depends}
Description: manage debian source packages
 apt-src is a command line interface for downloading, installing, upgrading,
 and tracking debian source packages. It can be run as a normal user, or as 
 root. If you want a convenient way to track updates to packages while
 preserving your local modifications, this is a way to do that.
